@font-face {
    font-family: 'DM SANS';
    src: url('/fonts/DM.woff2') format('woff2');
}

@font-face {
    font-family: 'Morganite';
    src: url('/fonts/Morganite-Medium.woff2') format('woff2');
}

:root {
  /* Background colors */
  --bg-primary: #000000;
  --text-primary: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-primary);
    font-family: sans-serif;
    font-weight: 400;
    font-family: "DM SANS", sans-serif;
    letter-spacing: -0.05em;
    font-optical-sizing: auto;
    text-decoration: none;
    font-style: normal;
    list-style: none;

}

.morganite{
    font-family: 'Morganite';
    letter-spacing: -0em;

}

html, body{
    background-color: var(--bg-primary);
}